@font-face {
  font-family: 'CharlieBrownM54';
  src: url('/domain/UI/fonts/CharlieBrownM54.eot');
  src: url('/domain/UI/fonts/CharlieBrownM54.eot?#iefix') format('embedded-opentype');
  src: url('/domain/UI/fonts/CharlieBrownM54.ttf') format('truetype');
  font-style: normal;
}
