<div class="SiemAuth" ng-controller="SiemRegisterActivate">
    <div class="auth-wrapper">
        <div class="siem-logo auth-logo-container">
            <img src="/domain/UI/logos/SIEMonster_1.png" />
        </div>
        <div class="auth-form-container">
            <form>
                <div class="form-group">
                    <h5>Checking your email...</h5>
                    <!--<label for="exampleInputEmail1">EMAIL</label>-->
                    <!--<input type="text" class="form-control" id="exampleInputEmail1" ng-model="am.login" placeholder="Enter your email" />-->
                </div>
                <div class="auth-login-error">{{am.login_error}}</div>
                <!--<button type="submit" class="btn btn-success" ng-click="requestResetPassword()">Ple</button>-->
                <!--<a class="auth-forgot-pass" ui-sref="auth.reset_password">Forgot password?</a>-->
            </form>
        </div>
    </div>
</div>