<div class="SiemAuth" ng-controller="SiemAuth">
    <!--<siem-nav-bar></siem-nav-bar>-->
    <div class="auth-wrapper">
        <div class="siem-logo auth-logo-container">
            <img src="/domain/UI/logos/SIEMonster_1.png" />
        </div>
        <div class="auth-form-container">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">EMAIL</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="am.login" />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">PASSWORD</label>
                    <input type="password" ng-model="am.password" class="form-control" id="exampleInputPassword1" />
                </div>
                <div class="auth-login-error">{{am.login_error}}</div>
                <button type="submit" class="btn btn-success" ng-click="do_login()">Sign in</button>
                <a class="auth-forgot-pass" ui-sref="reset_password">Forgot password?</a>
            </form>
        </div>
    </div>
</div>