<div class="SiemInit" ng-controller="SiemApp">
    <div class="container siem-top-panel">
        <!--<div class="siem-logo-menu" ui-sref="welcome">-->
            <!--<img src="/domain/UI/logos/SIEMonster_1.png" />-->
        <!--</div>-->
        <div class="siem-link">
            <a ui-sref="welcome">Home</a>
        </div>

        <div ng-repeat="link in links" class="siem-link" ng-class="{active: vm.active_link == link.title}">
            <a href="{{ link.url }}" target="{{ link.id }}"
               ng-click="link.activated && $event.preventDefault(); link.activated = true; vm.active_link = link.title">{{ link.title }}
                <span ng-if="link.sub_links.length" class="caret"></span></a>

            <div class="siem-menu-sublinks">
                <a ng-repeat="slink in link.sub_links track by $index"
                   ng-click="slink.activated && $event.preventDefault(); slink.activated = true; vm.active_link = slink.title"
                   ng-class="{active: vm.active_link == slink.title}"
                   href="{{ slink.url }}" target="{{$index}}">{{slink.title}}</a>
            </div>
        </div>

        <div class="siem-link logout-link">
            <a ng-click="logout()">Logout</a>
        </div>
        <div class="siem-link logout-link">
            <a ui-sref="profile">Profile</a>
        </div>
        <!--<div class="siem-logout" ng-class="{active: vm.active_link == link.title}">-->
            <!--<a href="#" >Logout</a>-->
        <!--</div>-->
    </div>
    <div class="page">
        <dynamic-iframe ng-repeat="link in links" name="{{ link.id }}" class="siem-page"
                        ng-show="vm.active_link == link.title" dynamic-iframe-src="{{ vm.active_link == link.title ? link.url : '' }}"></dynamic-iframe>
        <div ng-repeat="link in links">
            <dynamic-iframe ng-repeat="slink in link.sub_links track by $index" name="{{$index}}" class="siem-page"
                            ng-show="vm.active_link == slink.title" dynamic-iframe-src="{{ vm.active_link == slink.title ? slink.url : '' }}"></dynamic-iframe>
        </div>
    </div>
    <div class="welcome-container" ng-if="!links || !links.length">
        <br/>
        <b>{{ vm.SiemAuth.User._id }}</b> has no dashboards. <br/>
        <br/>
        <a href="javascript: void(0)" ng-click="logout()">Logout</a>
    </div>
</div>